@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/*font-family: 'Kumbh Sans', sans-serif;
  400 and 700
*/

* {
  box-sizing:border-box;
}

html {
  --dark-syan:hsl(185, 75%, 39%);
  --very-dark-desaturated-blue:hsl(229, 23%, 23%);
  --dark-greyish-blue:hsl(227, 10%, 46%);
  --dark-gray:hsl(0, 0%, 59%);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}

.dark-greyish-blue {
  color:var(--dark-greyish-blue);
}
body {
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
  background-color: var(--dark-syan);
  height:100vh;
  position:relative;
  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: -20rem -35rem, 40rem 20rem;
}

.bg-1 {
  position:absolute;
  z-index: -1;
}

.card {
  position:relative;
  border-radius: 1rem;
  background-color: white;
}

.bg-blue {
  border-radius: 1rem 1rem 0 0;
}
.card__bg-blue-image {
  position:relative;
  margin-bottom: 4rem;
}
.card__bg-blue-image .card__person {
  border-radius: 3rem;
  background-color: white;
  padding:0.3rem;
  position:absolute;
  top:60%;
  left:35%;
}

.card__name_age {
  text-align: center;
}
.card__age {
  display:inline-block;
  padding-left: 0.4rem;
  font-size:1.5rem;
}
.card__profile_name {
  display:inline-block;
  max-width: 17.7rem;
}

.card__bg-white {
  line-height: 0.5rem;
}

.card__location {
  display:block;
  text-align: center;
}

.card__info {
  display:flex;
  justify-content: space-around;
  margin:2rem 0;
  border-top:1px solid rgb(201, 196, 196);
}

.card__info > *{
  margin-top:1rem;
}
